*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FDE5D4;
}

h1{
    color: #001524;
    margin-bottom: 2rem;
    text-align: left;
}

.profile-container{
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
    gap: 5rem;
}

.container-profile{
    text-align: center;
    width: 60%;
    box-sizing: border-box;
}

.container-riwayat{
    background-color: #D6CC99;
    width: 40%;
    height: 85dvh;
    box-sizing: border-box;
}

.riwayat{
    box-sizing: border-box;
    height: 87%;
    overflow-y: scroll;
}

.riwayat::-webkit-scrollbar {
    width: 0; 
}

.container-riwayat .riwayat-judul{
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center;
    border-bottom: 1px solid #001524;
    padding: 1rem 0;
    width: 100%;
    background-color: #D6CC99;
    box-sizing: border-box;
    position: sticky;
}

.container-riwayat .riwayat .riwayat-group {
    border-bottom: 1px solid #001524;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #D6CC99;
    display: block; 
    text-decoration: none; 
    color: #001524;
}

.container-riwayat .riwayat-group:hover{
    background-color: #445D48;
    color: white;
}

.bio{
    text-align: center;
}

.bio > img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 8px;
}

.bio > .nama{
    font-size: 2rem;
}

.bio > .username{
    background-color: #445D48;
    border-radius: 30px;
    display: inline-block;
    padding: 4px 8px;
    color: white;
    font-size: 14px;
}

.biodata{
    margin-top: 2rem;
    text-align: left;
}

.biodata .isi-biodata{
    border-bottom: 1px solid #001524;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.ubah-bio{
    margin-top: 2rem;
}

.ubah-bio a{
    text-decoration: none;
    background-color: #D6CC99;
    padding: 4px 3rem;
    border-radius: 30px;
    color: white;
    box-sizing: border-box;
}

.ubah-bio a:hover{
    outline: 2px solid #445D48;
    color: #445D48;
}